@import '/styles/mixins/colors.scss';

.select {
  padding: 22px 17px;
  background-color: $gray-color4;
  border: none;
  font-weight: 300;
  color: $gray-color5;
  opacity: 0.7;
  border-radius: 10px;
}
