@import '/styles/mixins/colors.scss';
@import '/styles/mixins/padding.scss';

.container {
  @include Padding;
  background-image: url('/images/welcomeBg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  padding-top: 219px;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: 100vw;
}

.text {
  h1 {
    font-size: 71px;
    font-weight: bold;
  }
  p {
    font-size: 30px;
    opacity: 0.7;
    margin: 1rem 0;
  }
}

.image {
  text-align: end;
}
