$purple-color: #380158;
$purple-color2: #350053;
$purple-color3: #26003b;

$gray-color: #afafaf;
$gray-color2: #4a4a4a;
$gray-color3: #c9c9c9;
$gray-color4: #f7f7f7;
$gray-color5: #606060;

$green-color: #0dc74f;
$green-color2: #0fce33;
$green-color3: #0aaa28;

$white-color: #fff;
